@charset "UTF-8";
@font-face {
    font-family: 'fontelogo';
        src: url("../fonts/bubblegum-sans-regular.otf");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    background-color: #cecece;
    color: rgba(0, 0, 0, 0.74);
}
a {
   color: blue; 
   text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
div#interface {
    width: 1270px;
    height: 100%px;
    background-color: #ffffff;
    margin: 0px 25px 25px 25px;
}

header#cabecalho h1 {
    font-family: 'fontelogo';
    font-size: 50px;
    color: rgb(136, 136, 136);
    padding: 10px 0px 10px 500px;

} 
header#cabecalho img#icone {
    position: absolute;
    left: 1100px;
    top: 70px;    
}
header#cabecalho {
    height: 172px;
    background-color: #000000;
}
header#cabecalho figure {
    margin-top: 30px;
}
figure.foto-legenda {
    position: relative;
    border: 4px solid white;
    box-shadow: 2px 1px 4px rgb(8, 8, 8);        
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption {
    opacity: 1;

}
figure.foto-legenda figcaption h1 {
    position: relative;
    font-family: 'fontelogo';
    font-size: 30px;
    padding-left: 200px;
    color: rgba(255, 255, 255, 0.589);
    margin: 20px;

}
nav#menu {
    display: block;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    left: 25%;
}
nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}
nav#menu li:hover {
    background-color:rgb(90, 90, 90)
}
nav#menu h1{
   display: none; 
}
nav#menu a {
    color: black;
    text-decoration: none;
}
nav#menu a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
section#corpo {
    text-align: justify;
    display: block;
    width: 740px;
    margin: 0px 10px 0px 10px;
    float: left;
    border-right: 1px solid #606060 ;
    padding: 10px;
}
section#corpo-full {
    margin: 1.5%;
    margin-top: 0.8%;
}
section#corpo video {
    width: 720px;
    margin: 10px 0px 0px 10px;    
}

.pri {
    font-family: 'fontelogo';
    font-size: 30px;
    color: #606060;
    padding: 5px;
    margin-bottom: 0px;
}
.sub {
    padding: 5px;
    font-family: 'fontelogo';
    color: #cecece;
    margin-top: -10px;
    font-size: 15px;  
}
.sup {
    margin-top: 0px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #cecece;
}
.dir {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #cecece;
    text-align: right;
    padding: 5px 10px 5px 10px;
    margin-bottom: 0px;
}
article#noticia-principal h2 {
    font-size: 20px;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 5px 10px 10px 10px;
}
article#noticia-principal p {
    text-align: justify;
    text-indent: 35px;
    margin: 0px 10px 0px 10px;
    }
table#tabelaspec{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin: auto;
    margin-bottom: 10px;

}
table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
table#tabelaspec td.ce {
    color: #ffffff;
    background-color: #919090;
    vertical-align: center;
    font-weight: bold;
}
table#tabelaspec td.cd {
    background-color: #cecece;
}
table#tabelaspec caption {
    color: #888888;
    font-size: 13;
    font-weight: bolder;
}
table#tabelaspec caption span {
    display: block;
    text-align: right;
    color: #000000;
    font-size: 10px;
    margin-top: 10px;
}
aside#lateral {
    padding: 10px;
    margin: 20px 20px 20px 0px;
    width: 440px;
    float: right;
    background-color: #e7e7e7;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5) ;
}
aside#lateral video {
    width: 440px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
}
aside#lateral h1 {
    margin-top: 10px;
    font-family: 'fontelogo',sans-serif;
    font-size: 30px;
    color: #606060;
}
aside#lateral h2 {
    margin-bottom: 0px;
    background-color: #979797;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 0px 5px 10px;
}
aside#lateral p {
    text-indent: 35px;
    text-align: justify;
}
footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.85);
}
footer#rodape p {
    text-align: center;
    color: #ffffff;
}
