@charset "utf-8";

div#tv {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../imagens/tv.png");
}
video#filme {
    display: block;
    position: relative;
    height: 388px;
    left: 82px;
    top:47px;
    width: 690px;
}
